@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
 * Custom Font Declarations
 * TODO: Uncomment after adding font files to /public/fonts/
 * See FONTS.md for installation instructions
 */

/*
@font-face {
  font-family: 'Freight Sans Pro';
  src: url('/fonts/FreightSansPro-Regular.woff2') format('woff2'),
       url('/fonts/FreightSansPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freight Sans Pro';
  src: url('/fonts/FreightSansPro-Medium.woff2') format('woff2'),
       url('/fonts/FreightSansPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freight Sans Pro';
  src: url('/fonts/FreightSansPro-Bold.woff2') format('woff2'),
       url('/fonts/FreightSansPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grafolita';
  src: url('/fonts/Grafolita-Regular.woff2') format('woff2'),
       url('/fonts/Grafolita-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grafolita';
  src: url('/fonts/Grafolita-Bold.woff2') format('woff2'),
       url('/fonts/Grafolita-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*/

/* Base styles */
@layer base {
  body {
    @apply font-primary text-text-primary;
  }
}
